@import url(../index.css);

.button {
  font-weight: 700;
  display: inline-block;
  text-align: center;
  border: 0;
  cursor: pointer;
  border-radius: var(--border-radius);
  position: relative;
  line-height: 1;
  transition: all .2s linear;
  color: white;
  background-color: var(--color-primary);
  overflow: hidden;
  color: transparent;
  position:relative;
}

.button::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  letter-spacing: initial;
  color: #fff;
  transition: all 0.2s ease;
}

.button.button-rounded {
  border-radius: var(--border-radius-rounded);
}

.button-small {
  font-size: 0.75rem;
  padding: 0.625rem 1rem;
}

.button-medium {
  font-size: 0.875rem;
  padding: 0.688rem 1.25rem;
}

.button-large {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
}

.button.color-primary {
  background-color: var(--color-primary);
}

.button.color-secondary {
  background-color: var(--color-secondary);
}

.button.color-red {
  background-color: var(--color-red);
}

.button.color-orange {
  background-color: var(--color-orange);
}

.button.color-green {
  background-color: var(--color-green);
}

.button.button-disabled {
  background-color: var(--color-disabled);
  color: var(--color-disabled-text);
  cursor: not-allowed;
}
.button.button-disabled::before {
  color: var(--color-disabled-text);
}

.button.button-enabled:hover::before {
  letter-spacing: .5px;
}

.ripple {
  pointer-events: auto;
}