div.ripple {
    position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

  span.ripple {
    transform: scale(0);
    border-radius: 100%;
    position: absolute;
    opacity: 0.75;
    background-color: rgba(174, 174, 174, 0.844);
    animation-name: ripple;
    animation-duration: 1000ms;
  }

  @keyframes ripple {
    to {
      opacity: 0;
      transform: scale(2);
    }
  }